<div *ngIf="character && this.user.uid === character.ownerId; else noChar">
    <img [src]="character.imageUrl" />
    <h1>{{ character.name }}</h1>
    <h3><em>{{ subtitleText.join(' • ') }}</em></h3>
    <p>{{ character.description }}</p>

    <div class="color-bar">
        <div *ngFor="let color of character.colors" class="segment"  [style.backgroundColor]="color"></div>
    </div>

    <button mat-flat-button class="primary" type="button" (click)="openDetailDialog()">New Detail</button>

    <mat-card class="about-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>About {{ character.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{ character.about }}</p>
        </mat-card-content>
    </mat-card>

    <div *ngFor="let detail of details">
        <mat-card class="about-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{ detail.name }}</mat-card-title>
            </mat-card-header>
            <div *ngIf="detail.inputType === 'list'; else para">
                <mat-card-content>
                    <ul>
                        <li *ngFor="let item of detail.listContents">{{ item }}</li>
                    </ul>
                </mat-card-content>
            </div>
            <ng-template #para>
                <mat-card-content>
                    <p *ngFor="let item of detail.listContents">{{ item }}</p>
                </mat-card-content>
            </ng-template>
            <!-- don't need a trigger function here as it's not passed into another component -->
            <button mat-button (click)="openDetailDialog(detail)">EDIT</button> 
            <button mat-button (click)="deleteDetail(detail)">DELETE</button>
        </mat-card>
    </div>

    <h1>Character Links</h1>
    <div *ngIf="this.characterLinks.length > 0; else noLinks">
        <div *ngFor="let link of this.characterLinks">
            <app-character-link-card 
                [characterInput]="this.characterService.getCharacterById(link.toId)!" 
                [cardSubtext]="link.relationType.toUpperCase() + ' - ' + link.details">
            </app-character-link-card>
        </div>
    </div>
    <ng-template #noLinks>
        <p>No links yet!</p>
    </ng-template>
        
</div>
<ng-template #noChar>
    <p>This character doesn't exist, or you don't have viewing access</p>
</ng-template>