h1 {
    text-align: center;
    font-size: 4em;
    margin: 10px;
}

p {
    text-align: center;
    font-size: 1.5em;
    margin: 10px;
}

button {
    /* these two lines center the button */
    margin: 0 auto;
    display: block;

    /* add some padding to the button */
    margin-bottom: 10px;

    /* make a bit bigger */
    font-size: 1.5em;
}

form {
    display: flex;
    justify-content: center; /* centers the form class horizontally */
}

mat-form-field {
    width: 30vw;
    display: flex;
    align-items: center; /* Ensures internal elements align vertically */
    height: auto; /* Allow natural height for mat-form-field */
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.world-cards {
    padding-bottom: 20px;
}