<h1>My Worlds</h1>
<section>
    <button mat-flat-button class="primary" type="button" (click)="openWorldDialog()">New World</button>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>Filter worlds</mat-label>
            <input matInput placeholder="Start typing..." #filter>
        </mat-form-field>
        <button mat-flat-button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>
    </form>
</section>
<div *ngIf="worldList.length > 0; else noWorlds">
    <section class="results">
        <app-world-card *ngFor="let world of filteredWorldList" [world]="world" [editFunction]="triggerWorldDialog(world)"></app-world-card>
    </section>
</div>
<ng-template #noWorlds>
    <p>No worlds found!</p>
</ng-template>