<h1>Lore Keeper</h1>
<h3><em>An online solution to maintaining your world-building information, including universes, characters, locations, and lore.</em></h3>
<p>Getting started is simple - just sign in above with your Google account!</p>

<div class="updates">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Version 1.0.0 (January 2025)</mat-panel-title>
          </mat-expansion-panel-header>
          <p>Welcome to the first version of the site! All of the core functionality works now - you can create/edit/delete worlds, characters, places, and stories, and set numerous properties for each of these. Certain things are implemented visually, but don't function fully yet (i.e. gallery links for characters), but these will be added in soon.</p>
          <p>In the next major release, I aim to do the following:</p>
          <ul>
            <li>Some final code cleanup - everything works but I'd like to keep things tidy</li>
            <li>Ability to upload images instead of having to paste links (probably using the imgur API)</li>
            <li>World privacy settings. Currently, only the world owner can view the world. You will be able to make worlds public, so others can view but not edit world contents.</li>
            <li>Ability to manually reorder characters, places, stories, and story modules. Currently, these are ordered either by name or creation date, whichever one worked best for each object type.</li>
            <li>Shared custom details - ensure that every character and place has a "base set" of details that you can work with</li>
            <li>Some more stuff down the road when I get time :)</li>
          </ul>
          <p>In the meantime, feel free to report any issues or suggestions on the repository's <a href="https://github.com/sbrugel/lore-holder/issues">issues tracker.</a></p>
        </mat-expansion-panel>
    </mat-accordion>
</div>