<div *ngIf="story && this.user.uid === story.ownerId; else noStory">
    <h1>{{ story.title }}</h1>

    <button mat-flat-button class="primary" type="button" (click)="openTagDialog()">Add Tag</button>
    <p><em>Click on a tag to remove it</em></p>
    <div class="tags">
        <mat-chip-set multiple>
            <div *ngFor="let character of characters">
                <mat-chip (click)="removeTag(character.id)">{{ character.name }}</mat-chip>
            </div>
        </mat-chip-set>
    </div>

    <button mat-flat-button class="primary" type="button" (click)="openModuleDialog()">New Module</button>
    <div *ngIf="storyModules.length > 0; else noModules">
        <div *ngFor="let module of storyModules" class="module">
            <div *ngIf="module.type === 'text'">
                <p 
                    [ngClass]="{
                        'bold': module.appearance === 'bold', 
                        'italic': module.appearance === 'italic', 
                        'underlined': module.appearance === 'underlined',
                    }"
                    [ngStyle]="{
                        'color': module.color,
                    }"
                    *ngFor="let line of module.content.split('\n')"
                >
                    {{ line }}
                </p>
            </div>
            <div *ngIf="module.type === 'image'">
                <img [src]="module.content" alt="Image">
            </div>
            <div class="centerButtons">
                <button mat-button (click)="openModuleDialog(module)">EDIT</button> 
                <button mat-button (click)="deleteModule(module)">DELETE</button>
            </div>
        </div>
    </div>
    <ng-template #noModules>
        <p>No modules found for this story! Why not add some?</p>
    </ng-template>

    <div class="centerButtons">
        <ng-container *ngIf="this.previousStory">
            <button mat-flat-button class="primary" type="button" [routerLink]="['/story', previousStory.id]">Previous Story</button>
        </ng-container>
        <ng-container *ngIf="this.nextStory">
            <button mat-flat-button class="primary" type="button" [routerLink]="['/story', nextStory.id]">Next Story</button>
        </ng-container>
    </div>
    
</div>
<ng-template #noStory>
    <p>This story doesn't exist, or you don't have viewing access</p>
</ng-template>