<!-- HTML for the new/edit character dialog, accessible from the World Viewer -->
<h2 mat-dialog-title>Character Editor</h2>
<mat-dialog-content>
    <form #characterForm="ngForm" novalidate>
        <div class="dialog-form">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="characterName" name="characterName" required>
                <mat-hint align="start">Character Name*</mat-hint>
                <mat-error *ngIf="characterForm.controls['characterName']?.invalid">
                    Character Name is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput #desc [(ngModel)]="characterDescription" maxlength="500" name="characterDescription"></textarea>
                <mat-hint align="start">A brief intro to your character</mat-hint>
                <mat-hint align="end">{{desc.value.length}} / 500</mat-hint>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <textarea matInput [(ngModel)]="characterBio" name="characterBio"></textarea>
                <mat-hint align="start">Biography/extensive information about your character</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="characterImageUrl" name="characterImageUrl" pattern="https?://.+">
                <mat-hint align="start">Image URL</mat-hint>
                <!-- <mat-error *ngIf="characterForm.controls['characterImageUrl']?.errors?.['required']">
                    Image URL is required.
                </mat-error> -->
                <mat-error *ngIf="characterForm.controls['characterImageUrl']?.errors?.['pattern']">
                    Must be a valid URL (must start with http:// or https://).
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput type="number" [(ngModel)]="characterAge" name="characterAge" (keypress)="allowOnlyNumbers($event)">
                <mat-hint align="start">Age</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="characterGender" name="characterGender">
                <mat-hint align="start">Gender</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="characterRace" name="characterRace">
                <mat-hint align="start">Race</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="characterPronouns" name="characterPronouns">
                <mat-hint align="start">Pronouns</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput [(ngModel)]="characterColors" name="characterColors"></textarea>
                <mat-hint align="start">Character Colors (one hex code (i.e. "#0000ff") per line)</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput [(ngModel)]="characterGalleryLinks" name="characterGalleryLinks"></textarea>
                <mat-hint align="start">Gallery Links (one image URL per line) <em>(to be implemented soon)</em></mat-hint>
            </mat-form-field>

            <p><em>Custom details can be added in the character viewer page.</em></p>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button 
        mat-button 
        [mat-dialog-close]="{characterName: characterName, characterDescription: characterDescription, characterBio: characterBio, characterImageUrl: characterImageUrl, characterAge: characterAge, characterGender: characterGender, characterRace: characterRace, characterPronouns: characterPronouns, characterColors: characterColors, characterGalleryLinks: characterGalleryLinks}" 
        [disabled]="characterForm.invalid"
    >SUBMIT</button>
</mat-dialog-actions>
