<!-- HTML for the new/edit story dialog, accessible from the World Viewer -->
<h2 mat-dialog-title>Create New Story</h2>
<mat-dialog-content>
    <form #storyForm="ngForm" novalidate>
        <div class="dialog-form">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="storyTitle" name="storyTitle" required>
                <mat-hint align="start">Story Title*</mat-hint>
                <mat-error *ngIf="storyForm.controls['storyTitle']?.invalid">
                    Story Title is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select [(ngModel)]="previousStoryId" name="previousStoryId">
                    <mat-option *ngFor="let story of allStories()" [value]="story.id">
                        {{story.title}}
                    </mat-option>
                </mat-select>
                <mat-hint align="start">Previous Story</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-select [(ngModel)]="nextStoryId" name="nextStoryId">
                    <mat-option *ngFor="let story of allStories()" [value]="story.id">
                        {{story.title}}
                    </mat-option>
                </mat-select>
                <mat-hint align="start">Next Story</mat-hint>
            </mat-form-field>

            <p><em>You can add character tags and modules in the story viewer.</em></p>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button 
        mat-button 
        [mat-dialog-close]="{storyTitle: storyTitle, previousStoryId: previousStoryId, nextStoryId: nextStoryId}" 
        [disabled]="storyForm.invalid"
    >CREATE</button>
</mat-dialog-actions>
