<div *ngIf="character">
    <div>
        <mat-card class="pointer-elem">
            <mat-card-header>
                <div mat-card-avatar [ngStyle]="{ 
                    'background-image': 'url(' + character.imageUrl + ')', 
                    'background-size': 'cover' 
                  }" >
                </div>
                <mat-card-title>{{ character.name }}</mat-card-title>
                <mat-card-subtitle >{{ character.race }} <em>{{ (character.pronouns ? "(" + character.pronouns + ")" : "") }}</em></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ cardSubtext }}</p>
                <button mat-button [routerLink]="['/character', character.id]">VIEW</button>
                <button mat-button (click)="editFunction(characterLink)">EDIT ASSOCIATION</button>
                <button mat-button (click)="deleteCharacterLink()">DELETE ASSOCIATION</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>