<main>
  <mat-toolbar class="toolbar">
    <div>
      <mat-icon><a class="logo-url" [routerLink]="[user ? '/worlds' : '/']">book</a></mat-icon>
      <span> Lore Builder</span>
    </div>
    <div *ngIf="!user">
      <button mat-flat-button (click)="signIn()">Sign In with Google</button>
    </div>
    <div *ngIf="user">
      <span>Hello, {{ user!.displayName }} </span>
      <button mat-flat-button (click)="signOut()">Sign Out</button>
    </div>
  </mat-toolbar>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>