<div *ngIf="world; else worldNotFound">
    <img [src]="world.imageUrl" alt="World image">
    <div class="world-body">
        <h1>{{ world.name }}</h1>

        <div class="buttoms-row">
            <a mat-button [routerLink]="['/worlds']">BACK</a>
            <button mat-button>EDIT</button>
            <button mat-button>DELETE</button>
        </div>

        <mat-card class="about-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>About this World</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ world.detailedDescription }}</p>
            </mat-card-content>
        </mat-card>

        <mat-tab-group>
            <mat-tab label="Characters" >
                <div *ngIf="characters.length > 0; else noChars">
                    <div *ngFor = "let character of characters" [routerLink]="['/character', character.id]">
                        <mat-card class="pointer-elem">
                            <mat-card-header>
                                <div mat-card-avatar [ngStyle]="{ 
                                    'background-image': 'url(' + character.imageUrl + ')', 
                                    'background-size': 'cover' 
                                  }" >
                                </div>
                                <mat-card-title>{{ character.name }}</mat-card-title>
                                <mat-card-subtitle>{{ character.race }} | <em>{{ character.pronouns }}</em></mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{ character.description }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <ng-template #noChars>
                    <p>No characters yet!</p>
                </ng-template>
            </mat-tab>
            <mat-tab label="Places">
                <div *ngIf="places.length > 0; else noPlaces">
                    <div *ngFor = "let place of places">
                        <mat-card class="pointer-elem">
                            <mat-card-header>
                                <mat-card-title>{{ place.name }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{ place.description }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <ng-template #noPlaces>
                    <p>No places yet!</p>
                </ng-template>
            </mat-tab>
            <mat-tab label="Stories">
                <div *ngIf="stories.length > 0; else noStories">
                    <mat-chip-listbox multiple>
                        <div *ngFor="let character of characters">
                            <mat-chip-option selected>{{ character.name }}</mat-chip-option>
                        </div>
                    </mat-chip-listbox>
                    <mat-list role="list" class="mat-mdc-chip-set-stacked">
                        <mat-list-item *ngFor="let story of stories" role="listitem">
                            <h3 mat-line class="pointer-elem">{{ story.title }}</h3>
                        </mat-list-item>
                    </mat-list>
                </div>
                <ng-template #noStories>
                    <p>No stories yet!</p>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #worldNotFound>
    <p>World not found :(</p>
</ng-template>