<div *ngIf="world && this.user.uid === world.ownerId; else worldNotFound">
    <img [src]="world.imageUrl" alt="World image">
    <div class="world-body">
        <h1>{{ world.name }}</h1>

        <div *ngIf="world.detailedDescription" class="worldBio">
            <h2>About this World</h2>
            <p>{{ world.detailedDescription }}</p>
        </div>

        <div class="newButtons">
            <button mat-flat-button class="primary" type="button" (click)="openCharacterDialog()">New Character</button>
            <button mat-flat-button class="primary" type="button" (click)="openPlaceDialog()">New Place</button>
            <button mat-flat-button class="primary" type="button" (click)="openStoryDialog()">New Story</button>
        </div>

        <mat-tab-group>
            <mat-tab label="Characters" >
                <div *ngIf="characters.length > 0; else noChars" class="charCards">
                    <app-character-card 
                        *ngFor="let character of characters" 
                        [character]="character"
                        [editFunction]="triggerCharacterDialog(character)"
                    ></app-character-card>
                </div>
                <ng-template #noChars>
                    <p>No characters yet!</p>
                </ng-template>
            </mat-tab>
            <mat-tab label="Places">
                <div *ngIf="places.length > 0; else noPlaces">
                    <app-place-card 
                        *ngFor="let place of places" 
                        [place]="place"
                        [editFunction]="triggerPlaceDialog(place)"
                    ></app-place-card>
                </div>
                <ng-template #noPlaces>
                    <p>No places yet!</p>
                </ng-template>
            </mat-tab>
            <mat-tab label="Stories">
                <div class="charTags">
                    <mat-chip-listbox [formControl]="selectedCharacters" multiple>
                        <div *ngFor="let character of characters">
                            <mat-chip-option [value]="character.id" (click)="updateStories()">{{ character.name }}</mat-chip-option>
                        </div>
                    </mat-chip-listbox>
                </div>
                <div *ngIf="stories.length > 0; else noStories">
                    <p><em>Click the tags above to filter stories by tags. If no tags are selected, all stories will be displayed.</em></p>
                    <mat-list role="list" class="mat-mdc-chip-set-stacked storyCards">
                        <app-story-card 
                            *ngFor="let story of stories"
                            [story]="story"
                            [editFunction]="triggerStoryDialog(story)"
                        ></app-story-card>
                    </mat-list>
                </div>
                <ng-template #noStories>
                    <p>No stories yet!</p>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #worldNotFound>
    <p>This world doesn't exist, or you don't have viewing access</p>
</ng-template>