<div *ngIf="world; else worldNotFound">
    <img [src]="world.imageUrl" alt="World image">
    <div class="world-body">
        <h1>{{ world.name }}</h1>

        <div class="buttoms-row">
            <a mat-button [routerLink]="['/worlds']">BACK</a>
            <button mat-button>EDIT</button>
            <button mat-button>DELETE</button>
        </div>

        <div *ngIf="world.detailedDescription">
            <mat-card class="about-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>About this World</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ world.detailedDescription }}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-tab-group>
            <mat-tab label="Characters" >
                <button mat-flat-button class="primary" type="button" (click)="openCharacterDialog()">New Character</button>
                <div *ngIf="characters.length > 0; else noChars">
                    <app-character-card 
                        *ngFor="let character of characters" 
                        [character]="character"
                        [editFunction]="triggerCharacterDialog(character)"
                    ></app-character-card>
                </div>
                <ng-template #noChars>
                    <p>No characters yet!</p>
                </ng-template>
            </mat-tab>
            <mat-tab label="Places">
                <button mat-flat-button class="primary" type="button" (click)="openPlaceDialog()">New Place</button>
                <div *ngIf="places.length > 0; else noPlaces">
                    <app-place-card 
                        *ngFor="let place of places" 
                        [place]="place"
                        [editFunction]="triggerPlaceDialog(place)"
                    ></app-place-card>
                </div>
                <ng-template #noPlaces>
                    <p>No places yet!</p>
                </ng-template>
            </mat-tab>
            <mat-tab label="Stories">
                <div *ngIf="stories.length > 0; else noStories">
                    <mat-chip-listbox multiple>
                        <div *ngFor="let character of characters">
                            <mat-chip-option selected>{{ character.name }}</mat-chip-option>
                        </div>
                    </mat-chip-listbox>
                    <mat-list role="list" class="mat-mdc-chip-set-stacked">
                        <mat-list-item *ngFor="let story of stories" role="listitem" [routerLink]="['/story', story.id]">
                            <h3 mat-line class="pointer-elem">{{ story.title }}</h3>
                        </mat-list-item>
                    </mat-list>
                </div>
                <ng-template #noStories>
                    <p>No stories yet!</p>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #worldNotFound>
    <p>World not found :(</p>
</ng-template>