<div *ngIf="place && this.user.uid === place.ownerId; else noPlace">
    <div class="container">
        <div class="leftCol">
            <h1>{{ place.name }}</h1>
            <h3><em>{{ place.description }}</em></h3>
            <p>{{ place.population ? 'Population: ' + place.population : '' }}</p>
        </div>
        <div class="rightCol">
            <div *ngIf="place.about" class="placeBio">
                <h2>About {{ place.name }}</h2>
                <p *ngFor="let line of place.about.split('\n')">{{ line }}</p>
            </div>
            <button mat-flat-button class="primary" type="button" (click)="openDetailDialog()">Add Custom Detail</button>
            <div class="detailGrid">
                <div class="column">
                    <ng-container *ngFor="let detail of details; let i = index">
                        <div *ngIf="i % 2 === 0" class="detailItem">
                            <h2>{{ detail.name }}</h2>
                            <div *ngIf="detail.inputType === 'list'; else para">
                                <ul>
                                    <li *ngFor="let item of detail.listContents">{{ item }}</li>
                                </ul>
                            </div>
                            <ng-template #para>
                                <p *ngFor="let item of detail.listContents">{{ item }}</p>
                            </ng-template>
                            <button mat-button (click)="openDetailDialog(detail)">EDIT</button>
                            <button mat-button (click)="deleteDetail(detail)">DELETE</button>
                        </div>
                    </ng-container>
                </div>
                <div class="column">
                    <ng-container *ngFor="let detail of details; let i = index">
                        <div *ngIf="i % 2 !== 0" class="detailItem">
                            <h2>{{ detail.name }}</h2>
                            <div *ngIf="detail.inputType === 'list'; else para">
                                <ul>
                                    <li *ngFor="let item of detail.listContents">{{ item }}</li>
                                </ul>
                            </div>
                            <ng-template #para>
                                <p *ngFor="let item of detail.listContents">{{ item }}</p>
                            </ng-template>
                            <button mat-button (click)="openDetailDialog(detail)">EDIT</button>
                            <button mat-button (click)="deleteDetail(detail)">DELETE</button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <h2>Residents of {{ place.name }}</h2>
            <button mat-flat-button class="primary" type="button" (click)="openResidentDialog()">Add Resident</button>
            <div *ngIf="characters.length > 0; else noChars">
                <div *ngFor="let character of characters">
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar [ngStyle]="{ 
                                'background-image': 'url(' + character.imageUrl + ')', 
                                'background-size': 'cover' 
                                }" >
                            </div>
                            <mat-card-title>{{ character.name }}</mat-card-title>
                            <mat-card-subtitle>{{ character.race }} | <em>{{ character.pronouns }}</em></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{ character.description }}</p>
                            <button mat-button [routerLink]="['/character', character.id]">VIEW</button>
                            <button mat-button (click)="removeResident(character.id)">REMOVE RESIDENT</button>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <ng-template #noChars>
                <p>No characters yet!</p>
            </ng-template>
        </div>
    </div>
    

    
    
</div>
<ng-template #noPlace>
    <p>This place doesn't exist, or you don't have viewing access</p>
</ng-template>