/* This file contains a reference to the color schemes of the application, it is referred to in the 'angular.json' file and ensures the correct colors are used */
@use 'sass:map';

@use '@angular/material' as mat;
@use './_theme-colors.scss' as my-theme;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: my-theme.$primary-palette,
    typography: Roboto,
    density: -1
  ));
}